<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d3.cell.mapper.DevDeviceMapper">
  <resultMap id="BaseResultMap" type="com.d3.cell.entity.DevDevice">
    <id column="ng_id" jdbcType="BIGINT" property="ngId" />
    <result column="sz_sn" jdbcType="VARCHAR" property="szSn" />
    <result column="ng_user_id" jdbcType="BIGINT" property="ngUserId" />
    <result column="ts_placing" jdbcType="TIMESTAMP" property="tsPlacing" />
    <result column="nt_sync" jdbcType="INTEGER" property="ntSync" />
    <result column="sz_sales_man" jdbcType="VARCHAR" property="szSalesMan" />
    <result column="sz_sales_mobile" jdbcType="VARCHAR" property="szSalesMobile" />
    <result column="ng_last_pac_id" jdbcType="BIGINT" property="ngLastPacId" />
    <result column="ng_last_issled_id" jdbcType="BIGINT" property="ngLastIssledId" />
    <result column="nt_row_version" jdbcType="INTEGER" property="ntRowVersion" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.d3.cell.entity.DevDeviceWithBLOBs">
    <result column="tx_admin_remark" jdbcType="LONGVARCHAR" property="txAdminRemark" />
    <result column="sz_sales_remark" jdbcType="LONGVARCHAR" property="szSalesRemark" />
  </resultMap>
  <resultMap id="BaseResultMapSimple" type="com.d3.cell.vo.DevDeviceSimpleVo">
  <id column="ng_id" jdbcType="BIGINT" property="ngId" />
    <result column="sz_sn" jdbcType="VARCHAR" property="szSn" />
  </resultMap>
  <sql id="Base_Column_List">
    ng_id, sz_sn, ng_user_id, ts_placing, nt_sync, sz_sales_man, sz_sales_mobile, ng_last_pac_id, 
    ng_last_issled_id, nt_row_version
  </sql>
  <sql id="Blob_Column_List">
    tx_admin_remark, sz_sales_remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dev_device_t
    where ng_id = #{ngId,jdbcType=BIGINT}
  </select>
  <select id="selectPage" parameterType="java.lang.String" resultMap="BaseResultMapSimple">
    select  ng_id, sz_sn
    from dev_device_t where nt_row_version > 0

  </select>
  <select id="selectByCondition" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dev_device_t where nt_row_version > 0 and sz_sn = #{sn};

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dev_device_t
    where ng_id = #{ngId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.d3.cell.entity.DevDeviceWithBLOBs">
    insert into dev_device_t (ng_id, sz_sn, ng_user_id, 
      ts_placing, nt_sync, sz_sales_man, 
      sz_sales_mobile, ng_last_pac_id, ng_last_issled_id, 
      nt_row_version, tx_admin_remark, sz_sales_remark
      )
    values (#{ngId,jdbcType=BIGINT}, #{szSn,jdbcType=VARCHAR}, #{ngUserId,jdbcType=BIGINT}, 
      #{tsPlacing,jdbcType=TIMESTAMP}, #{ntSync,jdbcType=INTEGER}, #{szSalesMan,jdbcType=VARCHAR}, 
      #{szSalesMobile,jdbcType=VARCHAR}, #{ngLastPacId,jdbcType=BIGINT}, #{ngLastIssledId,jdbcType=BIGINT}, 
      #{ntRowVersion,jdbcType=INTEGER}, #{txAdminRemark,jdbcType=LONGVARCHAR}, #{szSalesRemark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.d3.cell.entity.DevDeviceWithBLOBs">
    insert into dev_device_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ngId != null">
        ng_id,
      </if>
      <if test="szSn != null">
        sz_sn,
      </if>
      <if test="ngUserId != null">
        ng_user_id,
      </if>
      <if test="tsPlacing != null">
        ts_placing,
      </if>
      <if test="ntSync != null">
        nt_sync,
      </if>
      <if test="szSalesMan != null">
        sz_sales_man,
      </if>
      <if test="szSalesMobile != null">
        sz_sales_mobile,
      </if>
      <if test="ngLastPacId != null">
        ng_last_pac_id,
      </if>
      <if test="ngLastIssledId != null">
        ng_last_issled_id,
      </if>
      <if test="ntRowVersion != null">
        nt_row_version,
      </if>
      <if test="txAdminRemark != null">
        tx_admin_remark,
      </if>
      <if test="szSalesRemark != null">
        sz_sales_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ngId != null">
        #{ngId,jdbcType=BIGINT},
      </if>
      <if test="szSn != null">
        #{szSn,jdbcType=VARCHAR},
      </if>
      <if test="ngUserId != null">
        #{ngUserId,jdbcType=BIGINT},
      </if>
      <if test="tsPlacing != null">
        #{tsPlacing,jdbcType=TIMESTAMP},
      </if>
      <if test="ntSync != null">
        #{ntSync,jdbcType=INTEGER},
      </if>
      <if test="szSalesMan != null">
        #{szSalesMan,jdbcType=VARCHAR},
      </if>
      <if test="szSalesMobile != null">
        #{szSalesMobile,jdbcType=VARCHAR},
      </if>
      <if test="ngLastPacId != null">
        #{ngLastPacId,jdbcType=BIGINT},
      </if>
      <if test="ngLastIssledId != null">
        #{ngLastIssledId,jdbcType=BIGINT},
      </if>
      <if test="ntRowVersion != null">
        #{ntRowVersion,jdbcType=INTEGER},
      </if>
      <if test="txAdminRemark != null">
        #{txAdminRemark,jdbcType=LONGVARCHAR},
      </if>
      <if test="szSalesRemark != null">
        #{szSalesRemark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.d3.cell.entity.DevDeviceWithBLOBs">
    update dev_device_t
    <set>
      <if test="szSn != null">
        sz_sn = #{szSn,jdbcType=VARCHAR},
      </if>
      <if test="ngUserId != null">
        ng_user_id = #{ngUserId,jdbcType=BIGINT},
      </if>
      <if test="tsPlacing != null">
        ts_placing = #{tsPlacing,jdbcType=TIMESTAMP},
      </if>
      <if test="ntSync != null">
        nt_sync = #{ntSync,jdbcType=INTEGER},
      </if>
      <if test="szSalesMan != null">
        sz_sales_man = #{szSalesMan,jdbcType=VARCHAR},
      </if>
      <if test="szSalesMobile != null">
        sz_sales_mobile = #{szSalesMobile,jdbcType=VARCHAR},
      </if>
      <if test="ngLastPacId != null">
        ng_last_pac_id = #{ngLastPacId,jdbcType=BIGINT},
      </if>
      <if test="ngLastIssledId != null">
        ng_last_issled_id = #{ngLastIssledId,jdbcType=BIGINT},
      </if>
      <if test="ntRowVersion != null">
        nt_row_version = #{ntRowVersion,jdbcType=INTEGER},
      </if>
      <if test="txAdminRemark != null">
        tx_admin_remark = #{txAdminRemark,jdbcType=LONGVARCHAR},
      </if>
      <if test="szSalesRemark != null">
        sz_sales_remark = #{szSalesRemark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ng_id = #{ngId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.d3.cell.entity.DevDeviceWithBLOBs">
    update dev_device_t
    set sz_sn = #{szSn,jdbcType=VARCHAR},
      ng_user_id = #{ngUserId,jdbcType=BIGINT},
      ts_placing = #{tsPlacing,jdbcType=TIMESTAMP},
      nt_sync = #{ntSync,jdbcType=INTEGER},
      sz_sales_man = #{szSalesMan,jdbcType=VARCHAR},
      sz_sales_mobile = #{szSalesMobile,jdbcType=VARCHAR},
      ng_last_pac_id = #{ngLastPacId,jdbcType=BIGINT},
      ng_last_issled_id = #{ngLastIssledId,jdbcType=BIGINT},
      nt_row_version = #{ntRowVersion,jdbcType=INTEGER},
      tx_admin_remark = #{txAdminRemark,jdbcType=LONGVARCHAR},
      sz_sales_remark = #{szSalesRemark,jdbcType=LONGVARCHAR}
    where ng_id = #{ngId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.d3.cell.entity.DevDevice">
    update dev_device_t
    set sz_sn = #{szSn,jdbcType=VARCHAR},
      ng_user_id = #{ngUserId,jdbcType=BIGINT},
      ts_placing = #{tsPlacing,jdbcType=TIMESTAMP},
      nt_sync = #{ntSync,jdbcType=INTEGER},
      sz_sales_man = #{szSalesMan,jdbcType=VARCHAR},
      sz_sales_mobile = #{szSalesMobile,jdbcType=VARCHAR},
      ng_last_pac_id = #{ngLastPacId,jdbcType=BIGINT},
      ng_last_issled_id = #{ngLastIssledId,jdbcType=BIGINT},
      nt_row_version = #{ntRowVersion,jdbcType=INTEGER}
    where ng_id = #{ngId,jdbcType=BIGINT}
  </update>

</mapper>